*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;

  width: 100%;
  height: 100vh;

  padding: 50px;
}

.Message{

  width: 300px;
  height: 50px;

  padding: 5px;

  >h3{
    font-size: 14px;
  }

  >p{
    font-size: 12px;
  }
}

